@use "./tokens";

@include tokens.theme-variables(":root", tokens.theme(black));
@include tokens.theme-variables(":root.theme-light", tokens.theme(light));
@include tokens.theme-variables(".theme-light", tokens.theme(light));
@include tokens.theme-variables(".theme-black", tokens.theme(black));

* {
	all: unset;
}

image {
	color: white;
	-gtk-icon-style: symbolic;
}

tooltip {
	background-color: tokens.color-var("popover-bg-color");
	color: tokens.color-var("fg-color");
	border-radius: 6px;
	padding: 6px 12px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}