@use "./tokens";

.calendar-popover {

	>arrow,
	>contents {
		border-width: 2px;
		border-style: solid;
		border-color: tokens.color-var("calendar-border-color");
	}

	>arrow {
		background-color: tokens.color-var("bg-color");
	}

	>contents {

		background-color: tokens.color-var("bg-color");

		>box.calendar>.events {
			padding: 0 0.5rem;

			.events-actions {

				.action {
					color: tokens.color-var("calendar-event-action-color");

					&:hover {
						color: tokens.color-var("calendar-highlight-color");
					}
				}
			}

			.events-empty {
				>label {
					color: tokens.color-var("calendar-border-color");
				}
			}

			.events-tabs {
				>button {
					color: tokens.color-var("calendar-event-action-color");

					&.active {
						color: tokens.color-var("calendar-highlight-color");
					}
				}
			}
		}

		>box.calendar>.grid {
			// padding-right: 3rem;

			>separator {
				background-color: tokens.color-var("overlay-darker");
				min-height: 2px;
			}

			>.navigation {
				padding: 0;

				>.section {
					padding: 0;

					>label {
						padding: 0;
						font-size: 1rem;
						font-weight: 400;
						font-family: 'Noto Sans CJK JP';
					}

					>button {
						padding: 0.65rem 0.8rem;

						&:hover {
							background-color: tokens.color-var("overlay-darker-2");
						}

						>label {
							padding: 0;
							font-size: 0.5rem;
						}
					}
				}
			}

			.days {
				font-family: 'Noto Sans CJK JP';

				>.row {
					padding: 0;

					label {
						padding: 0.3rem 0;
						margin: 0;
						border-radius: 0.2rem;
						font-weight: 500;

						&.birthday,
						&.event {
							border-radius: 0;

							&.edge-left {
								border-top-left-radius: tokens.color-var("calendar-edge-size");
								border-bottom-left-radius: tokens.color-var("calendar-edge-size");
							}

							&.edge-right {
								border-top-right-radius: tokens.color-var("calendar-edge-size");
								border-bottom-right-radius: tokens.color-var("calendar-edge-size");
							}
						}

						&.birthday {
							background-color: tokens.color-var("calendar-birthday-color");
						}

						&.event {

							&.color-1 {
								color: tokens.color-var("calendar-event-color-0")
							}

							&.color-2 {
								color: tokens.color-var("calendar-event-color-1")
							}

							&.color-3 {
								color: tokens.color-var("calendar-event-color-2")
							}

							&.color-4 {
								color: tokens.color-var("calendar-event-color-3")
							}

							&.color-5 {
								color: tokens.color-var("calendar-event-color-4")
							}

							&.color-6 {
								color: tokens.color-var("calendar-event-color-5")
							}

							&.color-7 {
								color: tokens.color-var("calendar-event-color-6")
							}

							&.color-8 {
								color: tokens.color-var("calendar-event-color-7")
							}

							&.color-9 {
								color: tokens.color-var("calendar-event-color-8")
							}

							&.color-10 {
								color: tokens.color-var("calendar-event-color-9")
							}

							&.color-11 {
								color: tokens.color-var("calendar-event-color-10")
							}

							&.color-12 {
								color: tokens.color-var("calendar-event-color-11")
							}

							&.color-13 {
								color: tokens.color-var("calendar-event-color-12")
							}

							&.color-14 {
								color: tokens.color-var("calendar-event-color-13")
							}

							&.color-15 {
								color: tokens.color-var("calendar-event-color-14")
							}

							&.color-16 {
								color: tokens.color-var("calendar-event-color-15")
							}
						}

						&:hover {
							background-color: tokens.color-var("overlay-darker-2");
							color: tokens.color-var("fg-color");

							&.birthday {
								color: tokens.color-var("calendar-birthday-color");
							}
						}

						&.inactive {
							color: tokens.gtkalpha(tokens.color-var("fg-color"), 0.3);

							&.birthday {
								background-color: tokens.gtkalpha(tokens.color-var("calendar-birthday-color"), 0.25);
								// color: tokens.gtkalpha(tokens.color-var("bg-color"), 0.8);
							}

							&.event {
								color: tokens.gtkalpha(tokens.color-var("calendar-event-color"), 0.25);

								&:hover {
									color: white;
								}

								&.color-1 {
									color: tokens.gtkalpha(tokens.color-var("calendar-event-color-0"), 0.25);
								}

								&.color-2 {
									color: tokens.gtkalpha(tokens.color-var("calendar-event-color-1"), 0.25);
								}

								&.color-3 {
									color: tokens.gtkalpha(tokens.color-var("calendar-event-color-2"), 0.25);
								}

								&.color-4 {
									color: tokens.gtkalpha(tokens.color-var("calendar-event-color-3"), 0.25)
								}

								&.color-5 {
									color: tokens.gtkalpha(tokens.color-var("calendar-event-color-4"), 0.25)
								}

								&.color-6 {
									color: tokens.gtkalpha(tokens.color-var("calendar-event-color-5"), 0.25)
								}

								&.color-7 {
									color: tokens.gtkalpha(tokens.color-var("calendar-event-color-6"), 0.25)
								}

								&.color-8 {
									color: tokens.gtkalpha(tokens.color-var("calendar-event-color-7"), 0.25)
								}

								&.color-9 {
									color: tokens.gtkalpha(tokens.color-var("calendar-event-color-8"), 0.25)
								}

								&.color-10 {
									color: tokens.gtkalpha(tokens.color-var("calendar-event-color-9"), 0.25)
								}

								&.color-11 {
									color: tokens.gtkalpha(tokens.color-var("calendar-event-color-10"), 0.25)
								}

								&.color-12 {
									color: tokens.gtkalpha(tokens.color-var("calendar-event-color-11"), 0.25)
								}

								&.color-13 {
									color: tokens.gtkalpha(tokens.color-var("calendar-event-color-12"), 0.25)
								}

								&.color-14 {
									color: tokens.gtkalpha(tokens.color-var("calendar-event-color-13"), 0.25)
								}

								&.color-15 {
									color: tokens.gtkalpha(tokens.color-var("calendar-event-color-14"), 0.25)
								}

								&.color-16 {
									color: tokens.gtkalpha(tokens.color-var("calendar-event-color-15"), 0.25)
								}
							}
						}

						&.today {
							background-color: tokens.color-var("calendar-highlight-color");
							color: tokens.color-var("bg-color");

							&.inactive {
								background-color: tokens.gtkalpha(tokens.color-var("calendar-highlight-color"), 0.25);
								color: tokens.color-var("bg-color");
							}
						}
					}

					&.header {

						label {

							// calendar-border-color
							color: tokens.color-var("calendar-border-color");

							&.weekday {
								color: tokens.color-var("calendar-highlight-color");
							}

							&:hover {
								background-color: transparent;
								color: tokens.color-var("button-accent-color");
							}
						}
					}
				}
			}

			.events {
				padding-top: 0.2rem;
				font-family: 'Noto Sans CJK JP';

				>.events-title {
					font-size: 0.95rem;
					font-weight: 600;
				}

				>.events-tabs {
					button {
						padding: 0.3rem 0.6rem;
						border-radius: 0.4rem;

						&:hover {
							background-color: tokens.color-var("overlay-darker-2");
						}

						&.active {
							background-color: tokens.color-var("button-accent-color");
							color: tokens.color-var("bg-color");
						}
					}
				}

				>.events-scroll {
					min-height: 8rem;
					max-height: 14rem;
				}

				>.events-list {
					padding: 0.2rem 0.4rem;
				}

				.event-item {
					padding: 0.35rem 0.4rem;
					border-radius: 0.4rem;
					background-color: tokens.color-var("overlay-darker");
					border-left: 0.4rem solid;

					&.color-1 {
						border-color: tokens.color-var("calendar-event-color-0")
					}

					&.color-2 {
						border-color: tokens.color-var("calendar-event-color-1")
					}

					&.color-3 {
						border-color: tokens.color-var("calendar-event-color-2")
					}

					&.color-4 {
						border-color: tokens.color-var("calendar-event-color-3")
					}

					&.color-5 {
						border-color: tokens.color-var("calendar-event-color-4")
					}

					&.color-6 {
						border-color: tokens.color-var("calendar-event-color-5")
					}

					&.color-7 {
						border-color: tokens.color-var("calendar-event-color-6")
					}

					&.color-8 {
						border-color: tokens.color-var("calendar-event-color-7")
					}

					&.color-9 {
						border-color: tokens.color-var("calendar-event-color-8")
					}

					&.color-10 {
						border-color: tokens.color-var("calendar-event-color-9")
					}

					&.color-11 {
						border-color: tokens.color-var("calendar-event-color-10")
					}

					&.color-12 {
						border-color: tokens.color-var("calendar-event-color-11")
					}

					&.color-13 {
						border-color: tokens.color-var("calendar-event-color-12")
					}

					&.color-14 {
						border-color: tokens.color-var("calendar-event-color-13")
					}

					&.color-15 {
						border-color: tokens.color-var("calendar-event-color-14")
					}

					&.color-16 {
						border-color: tokens.color-var("calendar-event-color-15")
					}

					>.event-title {
						font-weight: 600;
					}

					>.event-time {
						font-size: 0.8rem;
						color: tokens.gtkalpha(tokens.color-var("fg-color"), 0.7);
					}

					>.event-description {
						font-size: 0.8rem;
						color: tokens.gtkalpha(tokens.color-var("fg-color"), 0.8);
					}
				}

				>.events-actions {
					button {
						padding: 0.35rem 0.7rem;

						&:hover {
							background-color: tokens.color-var("overlay-darker-2");
						}
					}
				}
			}
		}
	}
}