# Private configuration files to ignore.
/config/ssh
/config/android
/config/git
/config/gtk/3/bookmarks
/config/vscode/projects.json
/config/cliphist/db
/config/sioyek/cache
/config/base/fonts
/config/base/icons
/config/base/themes
/config/refind
