# Private configuration files to ignore.
/config/ssh/shared
/config/android
/config/git
/config/gtk/3/bookmarks
/config/vscode/projects.json
/config/cliphist/shared
/config/sioyek/cache
/config/base/fonts
/config/base/icons
/config/base/themes
/config/refind
/config/rclone/rclone.conf
/config/qbittorrent
/config/calendar3/share